# Ignore everything
*

# Allow tracked files
!.gitignore
!README.md
!train_bboxes.csv
!student_base.ipynb
!baseline.ipynb
!maximum.ipynb

# Allow images for README
!image-*.png

# Allow train_images directory
!train_images/
!train_images/**
